@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    width: 100%;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    display: flex;
    height: 10vh;
    justify-content: space-between;
}

.logo {
    width: auto;
    margin-left: 50px;
}

.menu {
    margin: 20px;
}

a {
    padding: 20px;
    text-decoration: none;
    color: #343434;
}

a:hover {
    color: #ca3b3a;
}

button:hover {
    background-color: #393939;
    cursor: pointer;
}

main {
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 75vh;
}

.section-1,
.section-2 {
    align-content: center;
    width: 50vh;
}


.img-fone {
    width: auto;
    height: 500px;
    padding: 30px;
}

h1 {
    font-family: "Montserrat", sans-serif;
    color: #ca3b3a;
    margin-bottom: 30px;
}

.stars {
    color: #ca3b3a;
    font-weight: 700;
    margin: 20px 0 0;
}

.text1 {
    font-weight: 800;
    margin: 20px 0 0;
}

.text2 {
    color: #393939;
}

.button-price {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.price {
    font-weight: 900;
    font-size: 25px;
}

button {
    background-color: #ca3b3a;
    color: white;
    padding: 10px 30px;
}

.footer-box {
    background-color: #FCF7DA;
    margin: 0 100px;
    display: flex;
    justify-content: center;
    border-radius: 5px 5px 0 0;
    padding: 15px;
}

.div1,
.div2,
.div3 {
    padding: 20px 100px;
    font-size: 14px;
    display: flex;
}

.fa-magnifying-glass,
.fa-cart-shopping,
.fa-wave-square,
.fa-bluetooth-b,
.fa-battery-full {
    color: #393939;
    margin: 15px;
}